{% extends 'utils/template.twig' %}
{% block sidebar %}
    {% include 'utils/sidebar.twig' %}
{% endblock %}
{% block conteudo %}
    <form action="{{ path_for('home') }}" method="post">
        <input type="text" placeholder="Nome do cliente" name="nome"/><br />
        <input type="text" placeholder="Salário do cliente" name="salario"/><br />
        <input type="submit" value="Cadastrar cliente" />
    </form>
{% endblock %}